<mat-toolbar>
  <span class='title'>Roomsens1</span>
  <span>
    <ul>
    <li>
      <a  [routerLink]="['/routePath']" routerLinkActive="router-link-active">Home</a>
    </li>
    <li>
        <a  [routerLink]="['/routePath']" routerLinkActive="router-link-active">Raumerstellung</a>
    </li>
  </ul>
  </span>
  <span class='header-spacer'></span>
  <span>
    <app-search-bar></app-search-bar>
  </span>
</mat-toolbar>

<!-- <mat-toolbar>
  <span>ROOMSense</span>
  <ul>
    <li>
      <a mat-button [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    </li>
    <li>
        <a mat-button [routerLink]="['/data']" routerLinkActive="router-link-active">Daten</a>
    </li>
  </ul>
</mat-toolbar> -->

