p {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 30px;
    color: #0082BB; 
}
.kreisTemp{
    position: absolute;
    width: 120px;
    height: 120px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    
    margin-left: 30px;
    margin-top: 30px;
}


.temp {
    display: table-cell;
    width: 120px;
    height: 120px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-family: 'Oswald', sans-serif;
    color: #002B56;
    font-size: 33px;
    text-align: center;
    vertical-align: middle;
}

.kreisHum{
    position: absolute;
    width: 120px;
    height: 120px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin-left: 220px;
    margin-top: 30px;
}

.hum {
    display: table-cell;
    width: 120px;
    height: 120px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-family: 'Oswald', sans-serif;
    color: #002B56;
    font-size: 33px;
    text-align: center;
    vertical-align: middle;
}
.inRange {
    border: 8px solid #0082BB;
} 

.outRange {
    border: 8px solid #BB002C;
}

#descriptionTemp {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #002B56;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding-top: 30px;
    padding-left: 12px;
}

#descriptionHum {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: #002B56;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    padding-top: 30px;
    padding-right: 5px;
}