.roomHeading {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    margin-left: 30px;
    color: #0082BB;
}

.settings{
  font-family: 'Open Sans', sans-serif;
  border: none;
  background-color: white;
  color: #7EBFDB;
  vertical-align: middle;
  margin-left: 3vw;
  font-size: 15px;
}

.settingsText {
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
  font-size: 15px;
}

.goBack{
  font-family: 'Open Sans', sans-serif;
  border: none;
  background-color: white;
  color: #0082BB;
  vertical-align: middle;
  font-size: 15px;
  float: right;
  margin-right: 1vw;
  margin-top: 1vh;
}

.goBackText {
  font-family: 'Open Sans', sans-serif;
  margin-left: 10px;
  font-size: 15px;
}

.kreisTemp{
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    margin-left: 30px;
    margin-top: 30px;
}


.temp {
    display: table-cell;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-family: 'Oswald';
    color: #002B56;
    font-size: 3.5vh;
    text-align: center;
    vertical-align: middle;
    border: none;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.kreisHum{
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-left: 15vw;
    margin-top: 30px;
}

.hum {
    display: table-cell;
    width: 7.5vw;
    height: 7.5vw;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-family: 'Oswald';
    color: #002B56;
    font-size: 3.5vh;
    text-align: center;
    vertical-align: middle;
    border: none;
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.descriptionTemp {
  position: relative;
  display:block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Oswald';
  font-size: 2vh;
  color: #002B56;
  text-align: center;
  box-sizing: border-box;
  padding-top: 2vh;
  -webkit-padding-before: 2vh;
  -moz-padding-before: 2vh;
}

.descriptionHum {
position: relative;
display:block;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
font-family: 'Oswald';
font-size: 2vh;
color: #002B56;
text-align: center;
box-sizing: border-box;
padding-top: 2vh;
  -webkit-padding-before: 2vh;
  -moz-padding-before: 2vh;
}

.inRange {
    border: 8px solid #2E8B57;
}

.outRangeHigh {
    border: 8px solid #BB002C;
}

.outRangeLow {
  border: 8px solid #0082BB;
}

.limit {
  display: inline-block;
  margin-left: 32vw;
  margin-top: 3vh;
  font-family: 'Oswald';
  font-size: 2vh;
  color: #002B56;
}

.low {
  display: inline-block;
  margin-left: 2vw;
  font-family: 'Oswald';
  font-size: 1.8vh;
  color: #002B56;
}

.lowText{
  padding-left: 10px;
  font-weight: lighter;
}

.high {
  display: inline-block;
  margin-left: 2vw;
  font-family: 'Oswald';
  font-size: 1.8vh;
  color: #002B56;
}

.highText{
  padding-left: 10px;
  font-weight: lighter;
}

.updated {
  display: inline-block;
  margin-left: 32vw;
  margin-top: 3vh;
  font-family: 'Oswald';
  font-size: 2vh;
  color: #002B56;
  font-weight: lighter;
}

.updatedText{
  padding-left: 10px;
}

.time{
  padding-left: 5px;
  font-family: 'Oswald';
  font-size: 2vh;
  color: #002B56;
  font-weight: lighter;
}

.sensor {
  display: inline-block;
  margin-left: 32vw;
  margin-top: 3vh;
  font-family: 'Oswald';
  font-size: 2vh;
  color: #002B56;
  font-weight: lighter;
}

.sensor i{
  font-weight: bold;
}

.sensorText{
  padding-left: 10px;
}

.deviceID{
  padding-left: 5px;
  font-family: 'Oswald';
  font-size: 2vh;
  color: #002B56;
  font-weight: lighter;
}

.tempChart-div {
  width: 25vw;
  height: 250px;
  bottom: 0px;
  /* background-color: #d4d7db; */
  position: absolute;
 display: inline-block;
 margin-left: 3vw;

}

.tempChart-div canvas{
  margin-top: -5vh;
}

.humChart-div {
  width: 25vw;
  height: 250px;
  bottom: 0px;
  right: 0px;
 /*  background-color: #d4d7db; */
  position: absolute;
  display: inline-block;
  margin-right: 3vw;
}

.humChart-div canvas{
    margin-top: -5vh;
}

.main-chart-div {
  color: red;;
}

.chart {
  /* position: relative; */
  width: 100%;
  height: 100%;
}

.tempChart {
  display: block;


}

.humChart {
  display: block;

}

/* @media only screen and (max-width: 600px) { 
  .room {
    margin-top: 0vh;
    width: 90vw;
    height: 38vh;
    margin-left: -67vw;
  }

  ul {
    height: 26.5vh;
    margin-left: -40px;
  }

  p {
    font-size: 4.5vw;
  }

  .warning-rooms-button{
    background: none;
    border: none;
    color: #0082BB;
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
  }

  .description {
    font-size: 3vw;
    margin-left: 30px;
  }
} */
