<p *ngFor="let dataEntry of data">Werte in {{dataEntry.id}}</p>
<div class="kreisTemp" *ngFor="let dataEntry of data"
  [ngClass]="{
    'inRange': dataEntry.temperature <= 25 && dataEntry.temperature >= 18,
    'outRange': dataEntry.temperature > 25 || dataEntry.temperature < 18
  }"
>
  <button [routerLink]="['/warning']" routerLinkActive="router-link-active" class="temp">{{dataEntry.temperature}}°C</button>
  <span id="descriptionTemp">Temperatur</span>
</div>

<div class="kreisHum" *ngFor="let dataEntry of data"
  [ngClass]="{
    'inRange': dataEntry.humidity >= 40 && dataEntry.humidity <= 60,
    'outRange': dataEntry.humidity < 40 || dataEntry.humidity > 60
  }"
>
  <button [routerLink]="['/warning']" routerLinkActive="router-link-active" class="hum">{{dataEntry.humidity}}%</button>
  <span id="descriptionHum">Luftfeuchtigkeit</span>
</div>

<div>
  <app-warning></app-warning>
</div>