<p *ngIf="clickedDeviceData" class="roomHeading">Werte in {{ clickedDeviceData.room }}
  <button class='goBack' [routerLink]="['/floorplan']" routerLinkActive="router-link-active">
    <i class="fas fa-arrow"></i>
    <span class="goBackText">zurück zur Raumübersicht</span>
  </button>
</p>

<div
  *ngIf="clickedDeviceData"
  class="kreisTemp"
  [ngClass]="{
    inRange: clickedDeviceData.temp <= clickedDeviceData.upperTemp && clickedDeviceData.temp >= clickedDeviceData.lowerTemp,
    outRangeHigh: clickedDeviceData.temp > clickedDeviceData.upperTemp,
    outRangeLow: clickedDeviceData.temp < clickedDeviceData.lowerTemp
  }"
>
  <button *ngIf="clickedDeviceData"
    [routerLink]="['/warning']"
    routerLinkActive="router-link-active"
    class="temp"
  >
    {{ clickedDeviceData.temp }}°C
  </button>
  <span id="descriptionTemp">Temperatur</span>
</div>

<!--W.I.P-->
<mat-icon class="settings"
[routerLink]="['/roomsettings', clickedDeviceData.deviceId]"
> settings
</mat-icon>
<!--W.I.P-->

<div
  *ngIf="clickedDeviceData"
  class="kreisHum"
  [ngClass]="{
    inRange: clickedDeviceData.hum >= clickedDeviceData.lowerHumi && clickedDeviceData.hum <= clickedDeviceData.upperHumi,
    outRangeHigh: clickedDeviceData.hum > clickedDeviceData.lowerHumi,
    outRangeLow: clickedDeviceData.hum < clickedDeviceData.upperHumi
  }"
>
  <button *ngIf="clickedDeviceData"
    [routerLink]="['/warning']"
    routerLinkActive="router-link-active"
    class="hum"
  >
    {{ clickedDeviceData.hum }}%
  </button>
  <span id="descriptionHum">Luftfeuchtigkeit</span>
</div>

<!-- <div class=main-chart-div> -->
  <!-- <app-warning></app-warning> -->
  <div class="tempChart-div">
    <canvas *ngIf="clickedDeviceData" class="chart"
      class="tempChart"
      baseChart
      [datasets]="tempChartData"
      [labels]="tempChartLabels"
      [options]="tempChartOptions"
      [legend]="chartLegend"
      [chartType]="tempChartType"
    >
    </canvas>
    <!-- id="chart" width="10" height="10" -->
  </div>
  <div class="humChart-div">
    <canvas *ngIf="clickedDeviceData"  class="chart"
      class="humChart"
      baseChart
      [datasets]="humChartData"
      [labels]="humChartLabels"
      [options]="humChartOptions"
      [legend]="chartLegend"
      [chartType]="humChartType"
    >
    </canvas>
  </div>
<!-- </div> -->

<!-- Backup -->

<!-- <p *ngFor="let dataEntry of clickedDeviceData">Werte in {{dataEntry.room}}</p>
<div class="kreisTemp" *ngFor="let dataEntry of clickedDeviceData"
  [ngClass]="{
    'inRange': dataEntry.temperature <= 25 && dataEntry.temperature >= 18,
    'outRange': dataEntry.temperature > 25 || dataEntry.temperature < 18
  }"
>
  <button [routerLink]="['/warning']" routerLinkActive="router-link-active" class="temp">{{dataEntry.temp}}°C</button>
  <span id="descriptionTemp">Temperatur</span>
</div>

<div class="kreisHum" *ngFor="let dataEntry of clickedDeviceData"
  [ngClass]="{
    'inRange': dataEntry.humidity >= 40 && dataEntry.humidity <= 60,
    'outRange': dataEntry.humidity < 40 || dataEntry.humidity > 60
  }"
>
  <button [routerLink]="['/warning']" routerLinkActive="router-link-active" class="hum">{{dataEntry.hum}}%</button>
  <span id="descriptionHum">Luftfeuchtigkeit</span>
</div>

<div>
  <app-warning></app-warning>
</div> -->
