:host {
  float: left;
  width: 60%;
  margin-top: 20px;
  margin-left: 50px;


}

p {
display: inline-block;
margin: 0% 2%;
}

div {
  background-color: rgb(236, 230, 230);
}

li {
  margin: 1rem;
}
