<div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
<ul *ngIf="!isLoading" >
  <li *ngFor="let dataEntry of dataToDisplay">
    <p>Gerät: {{dataEntry.deviceId}}</p>
    <p>Temperatur: {{dataEntry.temperature}}</p>
    <p>Luftfeuchtigkeit: {{dataEntry.humidity}}</p>
  </li>
</ul>
</div>


<!-- <mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Gerätename
      </mat-panel-title>
      <mat-panel-description>
        Temperatur
      </mat-panel-description>
    </mat-expansion-panel-header>
    <span id="room" *ngFor="let dataEntry of data">
      <p>{{ dataEntry.deviceId }}</p>
      <p id="description">{{ dataEntry.temperature }}</p>
      <p>{{ dataEntry.humidity }}</p>
    </span>
  </mat-expansion-panel>
</mat-accordion> -->
