<div class="warning">
  <p>Warnungen/ Meldungen</p>
  <ul ui-scroll-viewport>
    <ng-container  *ngFor="let dataEntry of fullData">

    <li *ngIf="dataEntry.temp != null && dataEntry.temp > dataEntry.upperTemp">
      <button mat-button class="warning-rooms-button">{{ dataEntry.room }}</button>
      <span class="description" >Temperatur zu hoch</span>
    </li>
    <li *ngIf="dataEntry.temp != null && dataEntry.temp < dataEntry.lowerTemp">
        <button mat-button class="warning-rooms-button" [routerLink]="['/room-detail', dataEntry.deviceId]">{{ dataEntry.room }}</button>
        <span class="description">Temperatur zu niedrig</span>
    </li>
    <li *ngIf="dataEntry.hum != null && dataEntry.hum > dataEntry.upperHumi">
          <button mat-button class="warning-rooms-button" [routerLink]="['/room-detail', dataEntry.deviceId]">{{ dataEntry.deviceId }}</button>
          <span class="description">Feuchtigkeit zu hoch</span>
    </li>
    <li *ngIf="dataEntry.hum != null && dataEntry.hum < dataEntry.lowerHumi">
        <button mat-button class="warning-rooms-button" [routerLink]="['/room-detail', dataEntry.deviceId]">{{ dataEntry.room }}</button>
        <span class="description">Feuchtigkeit zu niedrig</span>
  </li>

    </ng-container>
  </ul>
</div>

<!-- <mat-accordion>
  <mat-expansion-panel [expanded]=true>
<mat-expansion-panel-header>
  <mat-panel-title>Warnungen / Meldungen</mat-panel-title>
  <mat-panel-description></mat-panel-description>
</mat-expansion-panel-header>
<span id='room' *ngFor="let room of rooms"><button class='warning-rooms'  (click)='onRoomClicked()'>{{room.id}}</button><p id='description'>{{room.description}}</p> </span>
  </mat-expansion-panel>
</mat-accordion> -->
