<div class='room'>
  <p>Raumübersicht</p>
  <ul ui-scroll-viewport>
      <li *ngFor="let dataEntry of fullData">
          <button class="warning-rooms-button" (click)='onRoomItemClick($event, dataEntry)'>{{dataEntry.room}}</button>
          <span class="description">Temperatur: {{dataEntry.temp}}</span>
          <span class="description">Luftfeuchte: {{dataEntry.hum}}</span>
      </li>
  </ul>
</div>

<!-- <mat-accordion>
  <mat-expansion-panel [expanded]=true>
<mat-expansion-panel-header>
  <mat-panel-title>Räume mit Sensoren</mat-panel-title>
  <mat-panel-description></mat-panel-description>
</mat-expansion-panel-header>
<span id='room' *ngFor="let room of rooms"> <p>{{room.id}}</p>        <p id='description'>{{room.description}}</p> </span>
  </mat-expansion-panel>
</mat-accordion> -->
