.room {
  background-color: white;
  border: none;
  width: 26vw;
  height: 37vh;
  border-radius: 25px;
  display: inline-block;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2vw;
  margin-left: 20px;
  color: #0082BB;
}

.warning-rooms-button{
  background: none;
  border: none;
  color: #0082BB;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.0vw;
}

.description {
  background: none;
  border: none;
  color: #002B56;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8vw;
  margin-left: 1vw;
}

ul {
  list-style: none;
  overflow: hidden;
  overflow-y: scroll;
  height: 70%;
  margin-left: -40px;
  list-style-position: outside;
  scrollbar-color: #0082BB rgba(238, 238, 238, 0);
  scrollbar-width: thin;
}

ul::-webkit-scrollbar{
  background-color: #0082BB;
  width: 7px;
}

ul li {
  padding: 10px 0px 10px 10px;
}

ul li:nth-child(odd) {
  background-color: #EEEEEE;
}

@media only screen and (max-width: 600px) { /*verschwindet bei Mobile-Version*/
  .room {
    margin-top: 0vh;
    width: 90vw;
    height: 38vh;
    margin-left: -67vw;
  }

  ul {
    height: 26.5vh;
    margin-left: -40px;
  }

  p {
    font-size: 4.5vw;
  }

  .warning-rooms-button{
    background: none;
    border: none;
    color: #0082BB;
    font-family: 'Open Sans', sans-serif;
    font-size: 4vw;
  }

  .description {
    font-size: 3vw;
    margin-left: 30px;
  }
}

/* :host {
  float: right;
  clear: right;
  margin-right: 50px;
  margin-top: 80px;
  width: 25%;
  max-height: 25%;
}

mat-expansion-panel-header {
  color: #0299f7;
}

mat-panel-title {
  color: #0299f7;
}

span {
  display: inline-block;
}

p {
  display: inline-block;
  font-size: 12px;
}

#description {
  float: right;
  margin-left: 30px;
  color: black;
}

#room {
  color: #0299f7;
} */
