app-main-box {
  position: relative;
  left: 50px;
  display: inline;
}

.full-screen {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

app-scrollable-list {
  right: 3%;
}

app-warning {
  position: relative;
  left: 200px;
  top: -500px;
}

app-room {
  position: relative;
  left: 1200px;
  top: -440px;
}
