*
{
    outline: none;
}

input[type=text] {
    padding: 5px 20px 5px 20px;
    width: 22vw;
    height: 30px; 
      
    border: none;
    font-size: 15px;
    border-radius: 25px;
    color:#7EBFDB;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;  
  }
  
  input[type="text"]::placeholder{
      color: #7EBFDB;
      font-family: 'Open Sans', sans-serif;
  }
  
  input:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  
  }
  
  @media only screen and (max-width: 600px) { /*verschieben bei Mobile-Version*/
    input[type=text] { 
      display: none;
    }
  }