<!doctype html>
<html>
  

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>

<body>
    <div id="page-list">
        <p>ROOMsense</p> 
    <div >
            <input type="text"  placeholder="Suche" >
      </div>
      <div id="home"> 
          <a href="home.html">Home
         
            </a>
      </div>
      <div id="raum">
          <a href="Raumerstellung.html">
              Raumerstellung
            </a>
      </div>
      

      
  </div>
  <div id="Rechteck1">
    <p>Gebäude</p>
</div>
<div id="Rechteck2">
    <p>Warnungen / Meldungen</p>
    <table>
      <tr>
          <a href="link.htm" >
              <td>
              Raum 1
              </td>
              </a>
        
        <td>Temperatur überschreitet Grenzwert</td>
      </tr>
      <tr>
        <td>Raum2</td>
        <td>Fehlermeldung</td>
      </tr>
      <tr>
        <td>Raum 3</td>
        <td>Fehlermeldung</td>
      </tr>
    </table>
 
</div>
<div id="Rechteck3">
    <p>Räume mit Sensoren</p>
    
    <table>
      <tr>
        <td>Raum 1</td>
        <td>Temperatur: 22° / Luftfeuchte: 50%</td>
      </tr>
      <tr>
        <td>Raum2</td>
        <td>Temperatur: 22° / Luftfeuchte: 50%</td>
      </tr>
      <tr>
        <td>Raum 3</td>
        <td>Temperatur: 22° / Luftfeuchte: 50%</td>
      </tr>
      <tr>
          <td>Raum 4</td>
          <td>Temperatur: 22° / Luftfeuchte: 50%</td>
        </tr>
    </table>
</div>



</body>

</html>
