
<p class="heading">Raum hinzufügen</p>
<div class="main">
 <mat-form-field appearance="outline" class="roomName">
    <mat-label>Raumbezeichnung</mat-label>
    <input matInput placeholder="Bitte geben Sie eine Raumbezeichnung ein" [formControl]="roomNameControl" maxlength="10" required>
    <mat-hint align="end">{{roomNameControl.value.length}} / 10</mat-hint>
    <mat-error *ngIf="roomNameControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <br>

  <mat-form-field appearance="outline">
    <mat-label>Wählen Sie einen Raspberry aus</mat-label>
    <mat-select [formControl]="raspberryControl" required>
      <mat-option>--</mat-option>
      <mat-option *ngFor="let raspberry of raspberryarr" [value]="raspberry" required>
        {{raspberry}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="raspberryControl.hasError('required')">Bitte einen Raspberry wählen</mat-error>
  </mat-form-field>
  <br>
  
  <mat-expansion-panel class="expTemp">
    <mat-expansion-panel-header>
      <mat-panel-title class="temp">Grenzwerte Temperatur</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-action-row>
        <mat-form-field >
            <input [formControl]="lowertempControl" type="number" matInput  #lowertempplimit placeholder="Unterer Temperatur Grenzwert">
            <span matSuffix>°C</span>
          </mat-form-field>
    </mat-action-row>
    <mat-action-row>
        <mat-form-field >
            <input [formControl]="uppertempControl" type="number" matInput #uptemplimit placeholder="Oberer Temperatur Grenzwert">
            <span matSuffix>°C</span>
          </mat-form-field>
    </mat-action-row>
  </mat-expansion-panel>
<br>
<br>
  <mat-expansion-panel class="expHum">
      <mat-expansion-panel-header>
        <mat-panel-title class="hum">Grenzwerte Luftfeuchtigkeit</mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-row>
          <mat-form-field >
              <input [formControl]="lowerhumiControl" type="number" matInput #lowerhumilimit placeholder="Unterer Feuchtigkeit Grenzwert">
              <span matSuffix>%</span>
            </mat-form-field>
      </mat-action-row>
      <mat-action-row>
          <mat-form-field >
              <input [formControl]="upperhumiControl" type="number" matInput #uphumilimit placeholder="Oberer Feuchtigkeit Grenzwert">
              <span matSuffix>%</span>
            </mat-form-field>
      </mat-action-row>
    </mat-expansion-panel>
  
  <br>
  <br>
  <mat-checkbox [formControl]="messageControl"> Benachrichtigungen</mat-checkbox>
  <br>
   
  <br>
  <br>
  <button  mat-button class="submit" type="submit" (click)="onSubmit()" [disabled]="roomNameControl.invalid || raspberryControl.invalid"> Speichern </button>
  <button  mat-button class="escape" [routerLink]="['/floorplan']" routerLinkActive="router-link-active"> Abbrechen </button>
</div>