<p>
    create-room works!
</p>
  
<button style="float: right;"  (click)="this.new_room = true" mat-raised-button>Neu</button>

<form name="myform" [formGroup]="form" [hidden]="!new_room" >
    <label for="name">Name</label>
    <br>
    <input name="input_room_name" formControlName="room_name" ng-model="somefield" required/>
    <br>
    <br>
  <mat-form-field>
    <mat-select placeholder="Raspberry">
      <mat-option *ngFor="let raspberry of raspberrys" [value]="raspberry.value">
        {{raspberry.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" (click)="onSubmit()" [disabled]="!form.valid" mat-raised-button> Save </button>
</form>