p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-left: 30px;
    color: #0082BB; 
}
.kreisTemp{
    position: absolute;
    width: 120px;
    height: 120px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    
    margin-left: 30px;
    margin-top: 30px;
}


.temp {
    display: table-cell;
    width: 120px;
    height: 120px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-family: 'Oswald', sans-serif;
    color: #002B56;
    font-size: 33px;
    text-align: center;
    vertical-align: middle;
}

.kreisHum{
    position: absolute;
    width: 120px;
    height: 120px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    margin-left: 220px;
    margin-top: 30px;
}

.hum {
    display: table-cell;
    width: 120px;
    height: 120px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    font-family: 'Oswald', sans-serif;
    color: #002B56;
    font-size: 33px;
    text-align: center;
    vertical-align: middle;
}
.inRange {
    border: 8px solid #0082BB;
} 

.outRange {
    border: 8px solid #BB002C;
} 
/* canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color:red;
    background-color: blue;
}



#randomizeData{
border-radius: 20px;
border:none;
box-shadow: none;
color:white;
background-image: linear-gradient(-90deg,#0082BB, #7EBFDB);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin:10px;
}

#addData{
    border-radius: 20px;
border:none;
box-shadow: none;
color:white;
background-image: linear-gradient(-90deg,#0082BB, #7EBFDB);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin:10px;
}
#removeData{
    border-radius: 20px;
border:none;
box-shadow: none;
color:white;
background-image: linear-gradient(-90deg,#0082BB, #7EBFDB);
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin:10px;
} */