.main-box {
  background-color: white;
  border: none;
  width: 55%;
  height: 80%;
  border-radius: 25px;
  margin-top: -3.5vh;
  display: inline-block;
  
}

@media screen and (max-width: 600px) { /*verschwindet bei Mobile-Version*/
  .main-box { 
    display: none;
  }
}
