/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Open Sans', sans-serif; background-color: #EEEEEE; overflow-y: hidden;}


app-header {
  z-index: 1;
}

app-search-bar {
  z-index: 2;
}
