<div class="example-container">

  <form #roomForm='ngForm' novalidate>
      <p>{{roomForm.value | json}}</p>
    <mat-form-field>
      <input matInput placeholder="Raumname" name='roomName' [(ngModel)]="roomName"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Gerätename" name='deviceName' [(ngModel)]="deviceName" />
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Unterer Grenzwert" name='lowerLimit' [(ngModel)]="lowerLimit"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Oberer Grenzwert" name='upperLimit' [(ngModel)]="upperLimit" />
    </mat-form-field>

    <button mat-button class="btn btn-primary" type="submit" (click)='onAddRoom()'>Speichern</button>
  </form>
</div>
